<div class="msg-container" *ngIf="message.content !== null && message.content !== '' "
     [ngClass]="{'base-sent': !incoming, 'base-receive': incoming}">

  <div class="avatar"
       *ngIf="!incoming">
    <img src="{{message.author.avatar}}">
  </div>

  <div [ngClass]="{'': !incoming, 'free-space': incoming}"></div>

  <div class="messages"
       [ngClass]="{'msg-sent': !incoming, 'msg-receive': incoming}">
    <div class="message-content">{{message.content}}</div>
    <!--<div class="time">{{message.author.name}} • {{ message.createdAt | fromNow}}</div>-->
    <div class="time">{{message.author.name}} • {{message.createdAt | date: 'short'}}</div>
  </div>

  <div [ngClass]="{'free-space': !incoming, '': incoming}"></div>

  <div class="avatar"
       *ngIf="incoming">
    <img src="{{message.author.avatar}}">
  </div>
</div>
