.msg-container {
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  margin: 5px 0;
}

.messages {
  text-align: right;
  background-color: #E0E0E0;
  padding: 0.2em 1em;
  border-radius: .5em;
}

.msg-sent {
  text-align: left;
}

.msg-receive {
  text-align: right;
}

.avatar img {
  height: 40px;
  margin: 0 16px;
}

.free-space {
  flex: 1;
}

.message-content {
  margin: .5em 0;
}

.time {
  color: gray;
  font-size: .8em;
}
