.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
}

.chat-rooms {
  flex: 1;
}

.chat-messages {
  flex: 4;
  height: 100%;
}
