<div class="container">
  <chat-nav-bar></chat-nav-bar>
  <div class="chat-container">
    <chat-rooms class="chat-rooms"></chat-rooms>
    <!--<chat-window></chat-window>-->
    <chat-messages class="chat-messages"></chat-messages>
  </div>
  <!--footer-->

</div>
