.navbar {
  display: block;
  width: 100%;
  background-color: #F5F5F5;
}

.navbar .container-fluid {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .logo-wrapper {
  display: inline-block;
  padding: 16px;
}

.navbar .navbar-title {
  font-size: 40px;
  font-weight: bold;
  margin-left: 16px;
}

.navbar .navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none !important;
}

.navbar-brand img {
  height: 50px;
}

.navbar .center-space {
  flex: 1;
}

.navbar .navbar-right {
  display: none;
  margin-right: 16px;
}

.login-account {
  display: inline-block;
  text-align: right;
  padding-right: 20px;
}

.login-account .user-info {
  line-height: normal;
  height: auto;
}

.login-account .username {
  display: inline-block;
}

.login-account .user-info {
  line-height: normal;
  height: auto;
}

.user-info a img {
  display: inline-block;
}













/*nav menu header*/
.nav-menu-header {
  margin-left: 36px;
}

.nav-menu-header ul {
  list-style: none;
  /*background-color: #444;*/
  /*text-align: center;*/
  padding: 0;
  margin: 0;
}

.nav-menu-header ul li ul {
  background-color: #BDBDBD;
  z-index: 10;
}

.nav-menu-header li {
  font-weight: 500;
  text-align: left;
  border-bottom: none;
  height: 2.5em;
  line-height: 2.5em;
  font-size: 1.2em;
  display: inline-block;
  margin-right: -4px;
  padding: 0 20px;
}

.nav-menu-header a {
  text-decoration: none;
  color: black;
  display: block;
  border-bottom: 1px solid #888;
  /*transition: .3s background-color;*/
  transition: .3s color;
  opacity: 0.87;
}

.nav-menu-header a:hover {
  /*background-color: #aaa;*/
  color: gray;
}

.nav-menu-header a.active {
  /*background-color: #aaa;*/
  color: gray;
  cursor: default;
}

/* Sub Menus */
.nav-menu-header li li {
  font-size: .8em;
}

.nav-menu-header a {
  border-bottom: none;
}

.nav-menu-header > ul > li {
  text-align: center;
}

.nav-menu-header > ul > li > a {
  padding-left: 0;
}

/* Sub Menus */
.nav-menu-header li ul {
  position: absolute;
  display: none;
  width: inherit;
  min-width: 200px;
}

.nav-menu-header li:hover ul {
  display: block;
}

.nav-menu-header li ul li {
  display: block;
}
