<nav class="navbar">
  <div class="container-fluid">
    <div class="logo-wrapper">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logos/hisendy-logo.svg"/>
        <span class="navbar-title">Hisendy</span>
      </a>
    </div>
    <div class="center-space">
      <dialog id="user-dialog">
        <input id="input-user-id" type="text" placeholder="Enter user id">
        <br>
        <button (click)="sendUserInfo()">Send</button>
        <button (click)="closeDialog()">Close</button>
      </dialog>
    </div>

    <div class="nav-menu-header login-account">
      <ul>
        <li class="user-info">
          <a>
            <!--<img src="assets/images/logos/hisendy-logo.svg"/>-->
            <div class="username" (click)="showDialog()">{{userFullName}}</div>
            <!--<span> &#9662; </span>-->
            <!--<div class="user-type">(franchisee)</div>-->
          </a>
          <ul>
            <li><a href="#" onclick="alert('profile')">Profile</a></li>
            <li><a href="#" onclick="alert('logout')">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="navbar-right">
      <p class="navbar-text">
        <button class="btn btn-primary" type="button">
          Messages <span class="badge">{{ unreadMessagesCount }}</span>
        </button>
      </p>
    </div>
  </div>
  <hr>
</nav>
