<div class="chat-window-container">
  <div class="chat-window">

    <div class="panel-heading">
      <div class="panel-title-container">
        <div class="panel-title">
          <!--<span class="glyphicon glyphicon-comment"></span>-->
          Chat - {{currentRoom.name}}
        </div>
      </div>
      <div class="panel-buttons-container">
        <!-- you could put minimize or close buttons here -->
      </div>
    </div>

    <div class="panel-body">
      <chat-message
        *ngFor="let message of messages | async"
        [message]="message">
      </chat-message>
    </div>

    <div class="panel-footer">
      <div class="input-group">
        <input type="text"
               class="chat-input"
               placeholder="Write your message here..."
               (keydown.enter)="onEnter($event)"
               [(ngModel)]="draftMessage.content"/>
        <span class="input-group-btn">
            <!--<img class="btn-send" (click)="onEnter($event)" src="assets/images/icons/send-light.svg">-->
          </span>
      </div>
    </div>

  </div>
</div>
