.chat-window-container {
  border-left: 1px solid gray;
  height: 100%;
}

.panel-heading {
  height: 60px;
  border-bottom: 1px solid #BDBDBD;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.panel-title {
  text-align: center;
}

.panel-body {
  padding: 16px;
  flex: 1;
  overflow-y: auto;
}

.panel-footer {
  padding: 12px 20px 12px 12px;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid gray;
}

.input-group {
  display: flex;
  align-items: center;
}

.chat-input {
  height: 2.5em;
  border: 0;
  flex: 1;
  padding-left: .7em;
}

.btn-send {
  margin-left: 15px;
  height: 1.5em;
}
