.container {
  border-right: 1px solid #E0E0E0;
}

.search-item {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #BDBDBD;
}

.search-box {
  margin: auto;
  width: 90%;
  height: 3em;
  padding-left: 1em;
  background-color: #EEEEEE;
  border: 0;
}
