<!-- conversations -->
<div class="container">

  <div class="search-item">
    <input class="search-box" type="text" placeholder="Search friends ...">
  </div>

  <div class="conversation-wrap">

    <chat-room
         *ngFor="let room of rooms | async"
         [room]="room">
    </chat-room>

  </div>
</div>
