<div class="item-conversation" (click)="clicked($event)"
     [ngClass]="{'selected-item': selected, '': !selected}">
  <div class="left-layout">
    <img class="avatar"
         src="{{room.avatar}}">
  </div>
  <div class="item-body">
    <div class="contact-name">{{room.name}}</div>
    <small class="message-preview">{{room.lastMessage.content}}</small>
  </div>
</div>
