.item-conversation {
  display: flex;
  flex-direction: row;
  /*background-color: #F5F5F5;*/
  /*margin-bottom: 5px;*/
  border-bottom: 1px solid #E0E0E0;
}

.selected-item {
  background-color: #F5F5F5;
}

.left-layout {
  margin: 16px;
}

.left-layout .avatar {
  height: 60px;
}

.item-body {
  flex: 1;
}

.message-preview {
  /*white-space: nowrap;*/
}

.contact-name {
  margin: 1.5em 0 .5em 0;
}
